/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@100;300&display=swap');
  
/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
      /* npm install modern-normalize
        Resets elements for browser consistency.  
        https://www.npmjs.com/package/modern-normalize
      */         

/* Component-specific stylesheets, if any. 
  @import "component1.css";   
*/

/*   ----- Variables  -----  */
:root {
  --moderate-blue:hsl(213, 45%, 54%);
  --slightly-desaturated-blue:hsl(210, 43%, 69%);
  --very-soft-blue:hsl(207, 46%, 80%);
  --soft-magenta: hsla(304, 69%, 64%, 0.8);
  --bright-orange: hsl(35, 83%, 60%);
  --light-pink: hsl(350, 98%, 90%);
  --light-salmon: hsl(6, 74%, 82%);
  --soft-white: hsl(0, 0%, 94%);
  --shamrock: hsl(145, 63%, 49%);
  --silver-sand: hsl(205, 17%, 63%);
  --light-silver-sand: hsl(206, 67%, 92%);
  --background-blue: rgb(187, 219, 224);
  --dark-silver: hsl(206, 14%, 46%);
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {} or :root {} */
  background-image: url(images/sky-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  font-family: 'Fira Sans', sans-serif;
  color: var(--moderate-blue);
}

/*  ----- Page layout blocks -----  */
header {
  color: var(--moderate-blue);
  background-color: var(--slightly-desaturated-blue);
  padding: 1px;
  border: 10px solid;
  text-align: center;
}

main {
  border-left: 5px solid var(--very-soft-blue);
  border-right: 5px solid var(--very-soft-blue);
  margin: 0.5% 1.5%;
  padding: 0 1%;
  background-color: var(--background-blue) ;

}

section {}

  article {
    border-bottom: 2px solid var(--bright-orange);
  }

    #topic1 {}
    #topic2 {}
div {}
aside {}

footer {
  color: var(--moderate-blue);
  background-color: var(--slightly-desaturated-blue);
  padding: 1px;
  border: 10px solid;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.1em;
}

/* ----- Anchors ----- Text links */
a {}
a:link {}
a:hover {}
a:active {}
a:visited {}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  text-align: center;
  margin-top: 15px;
}

nav a {
  background-color: var(--soft-magenta);
  border: 2px solid var(--light-salmon);
  border-radius: 5px 0;
  color: var(--light-pink);
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px;
  padding: 7px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--light-pink);
  color:var(--soft-magenta);
}

.homenav {
  text-align: left;
}

.homenav a {
  font-size: medium;
  background-color: aliceblue;
  border: 2px solid var(--bright-orange);
  border-radius: 4px 0;
  color: var(--moderate-blue);
  padding: 4px;
  margin: 2.5px;
  text-decoration: none;
}

.homenav a:hover {
  background-color: var(--bright-orange);
  color: aliceblue;
}

/*  -----  Typography  ----- */
p {}
br {}
ol, ul, dl {}
li {}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;;
} 

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

/*  ----- Table ----- */
table {
  border-collapse: collapse;
  width: 100%;
}

tr th,
tr td {
  border: 2px solid var(--silver-sand);
  padding: 1%;
  margin: 1%;
}

th {
  background-color: var(--light-salmon);
  color: var(--moderate-blue);
}

td {
  color: var(--dark-silver);
}

.number-cell {
  text-align: right;
}

caption {
  margin-bottom: 1%;
  font-size: 125%;
  font-weight: 800;
  font-style: italic;
  color: var(--moderate-blue);
}


thead {}
tbody {}
tfoot {}
tr {}
  
tr:nth-child(even) {
    background-color: var(--light-silver-sand);
  }

  td:nth-child(1) {}
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
form, button, input, select, textarea {
  font-family: 'Fira Sans', sans-serif;
}

fieldset {
  border: 2px solid var(--light-pink);
  color: var(--bright-orange);
  background-color: aliceblue;
  margin-bottom: 2%;
  font-size: 120%;
  padding: 1%;
}

legend {
  background-color: var(--slightly-desaturated-blue);
  border-top: 4px solid var(--moderate-blue);
  color: var(--soft-white);
  margin-top: 1%;
  padding: 0.5%;
}

label {
  display: block;
  margin-top: 1%;
  font-size: 90%;
  color: var(--moderate-blue);
  font-weight: 600;
}

#noBlock {
  display: inline;
}

#inForm {
  margin-top: 1%;
  font-size: 90%;
  color: var(--moderate-blue);
  font-weight: 600;
}

input {
  padding: 1.5%;
  font-size: 120%;
  margin-bottom: 1%;
}

button {
  background-color: var(--shamrock);
  padding: 1%;
  font-size: 120%;
  color: var(--soft-white);
}

button:hover {
  background-color: var(--soft-white);
  color: var(--shamrock);
}

textarea {
  margin-top: 1%;
  padding-top: 0.5%;
  font-size: 100%;
}

select {
  padding: 0.5%;
  font-weight: 600;
}

:focus {
  border: 4px solid var(--shamrock);
}

::placeholder {
  color: var(--silver-sand);
}

:required {
  border: 2px solid green;
}

label.required:after {
  color:red;
  content: " Required";
  font-size: 75%;
}



  output {}
  meter {}
  progress {}
    optgroup {}
    option {}

/* ----- Media ----- */
figure {}
  figcaption {}
  figure img {}
svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {}

/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.gallery {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.gallery figure{
  border-bottom: 5px solid var(--light-pink);
  width: 40%;
  margin: 0.75%;
  padding: 0.75%;
}

.gallery figcaption {
  margin-top: 2px;
  font-size: large;
  padding-left: 1%;
}

figure img {
  width: 100%;
}


.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

/*
@keyframes App-logo {}

@media all and (min-width: 600px) {}

@media all and (min-width: 1080px) {}

@media print {}

@keyframes App-logo {}

@media all and (min-width: 600px) {}

@media all and (min-width: 1080px) {}

@media print {} 
*/